body {
  background-image: url('./assets/berry.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.App {
  max-width: 550px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}

.input-form {
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 10px 15px;
  border-radius: 40px;
}

input {
  color: #000000;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: transparent;
  font-family: "Montserrat", sans-serif;
}

i {
  color: #8f8f8f;
  margin-right: 20px;
}

button {
  margin-top: 30px;
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
  background-color: #E26868;
  color: #D8D9CF;
  letter-spacing: 1px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.container__info {
  margin-top: 30px;
  justify-content: space-around;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container__nutrition {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container__facts {
  display: flex;
  justify-content: space-between;
}

span {
  font-weight: bold;
}

h2,
h3,
h6,
.par {
  margin: 10px;
}

.daily__value {
  display: flex;
  justify-content: flex-end;
}

.daily__calories {
  font-size: 10px;
}